{%- for play, play_data in result.items() %}
# *{{ play }}*

  {% for host, host_data in play_data.items() %}
    {%- if host_data.failed -%}{%- set mark = ":interrobang:" -%}
    {%- elif host_data.changed -%}{%- set mark = ":seenoevil:" -%}
    {%- else -%}{%- set mark = ":white_check_mark: " -%}
    {%- endif -%}

    {% if action == 'set' %}
{{ mark }} *{{ host }}* - Adding peer with IP `{{ peer }}` and ASN `{{ peer_as }}`
    {% elif action == 'remove' %}
{{ mark }} *{{ host }}* - Removing peer with IP `{{ peer }}`
    {% else %}
:interrobang: *{{ host }}* Unknown acction `{{ action }}`
    {% endif %}

    {%- if host_data.failed -%}
Error:
```{{host_data.msg}}```
    {%- elif host_data.changed %}
diff:
```{{ host_data.msg }}```
    {%- else %}
```This action doesn't change the device.```
    {%- endif %}


  {%- endfor -%}

{%- endfor -%}
